* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

header {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  color: #444;
  background-color: #f3f3f3;
  /* height: 100vh;
  padding: 2rem; */
  text-align: center;
}

body {
  font-family: "Poppins", sans-serif;
  color: #444;
  background-color: #f3f3f3;
  height: 100vh;
  padding: 2rem;
}

.main {
  display: flex;
  justify-content: center;
}
.inner {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 5;
}
.rock {
  min-width: 75px;
  min-height: 25px;
}
.paper {
  min-width: 75px;
  min-height: 25px;
}
.scissors {
  min-width: 75px;
  min-height: 25px;
}
.result {
  font-size: 2rem;
  text-align: center;
  margin: 10rem;
}

.choices {
  display: flex;
  justify-content: center;
}

.result-table {
  display: flex;
  font-size: 3rem;
  margin-top: 2rem;
  justify-content: space-evenly;
}

.reset {
  display: block;
  margin: 0 auto;
  font-size: 3rem;
  text-align: center;
}
